@import '../abstracts/mixins';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  scroll-behavior: smooth;
}

html {
  font-size: $doc-font-size;
}

body {
  height: 100vh;
  @include flex(center, space-evenly);
  flex-direction: column;
  background-color: $color-blue-dark;
}
