@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/mixins';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: $color-body-text;
}

.keyboard__key {
  font-size: 1.6rem;
  font-weight: bold;
}

.keyboard__input {
  font-family: 'Overpass Mono', monospace;
  font-size: 2rem;
}

.second {
  font-size: 1.3rem;
  font-weight: 400;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease-in-out;

  &:hover {
    display: inline-block;
    transform: translateY(-3px);
  }
}

.material-icons-outlined {
  font-size: 2.6rem;
  vertical-align: middle;
}

.desc {
  text-align: center;
}
