@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/mixins';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* 
@font-face {
  font-family: 'Arial';
  src: url('../assets/fonts/ArialMT.woff2') format('woff2'), url('../assets/fonts/ArialMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../assets/fonts/Arial-ItalicMT.woff2') format('woff2'), url('../assets/fonts/Arial-ItalicMT.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
 */
%arial {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
  font-weight: 400;
}

%georgia {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: $color-body-text;
}

.keyboard__key {
  font-size: 1.6rem;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease-in-out;

  &:hover {
    display: inline-block;
    transform: translateY(-3px);
  }
}
