$doc-font-size: 10px;
$doc-font-size-for-calc: 10;

$color-gray: #696a6e;
$color-gray-dark: #6f6e74;
$color-gray-light: #b7b8bd;
$color-blue: #97c6cc;

$desktop-width: 1279.98px;
$tablet-width: 767.98px;
$mobile-width: 320px;
